.mainNote
{
	grid-row-start: 5;
}

.bassNote
{
	grid-row-start: 6;
	background-color: deepskyblue;
}

#toucharea2
{
	width: 100%;
	display: inline-block;
}

#toucharea
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 50px 75px 75px 75px 100px 50px;
	grid-template-areas:
	    "o o o o o o o o o o o o"
		"s s s s e e x x S S S S"
		"d d d 0 f f f . . a a a"
		"m m m _ _ w w M M M u u"
	;
	grid-row-gap: 100px;
	grid-column-gap: 1%;
	font-size: 20pt;
	background-color: #4e1e1e;
}

div > div
{
	background-color: #fff4;
	border-radius: 20px;
}

.min{grid-area: m;}
.maj{grid-area: M;}
.sus4{grid-area: u;}
.sus2{grid-area: w;}
.dim{grid-area: d;}
.five{grid-area: f;}
.aug{grid-area: a;}
.sev{grid-area: s;}
.Mj7{grid-area: S;}
.nin{grid-area: N;}
.oct{grid-area: o;}
.six{grid-area: x;}

.sus2, .maj, .sus4, .five, .six, .Mj7, .oct{background-color: #77ab45;}

.touch
{
	line-height: initial;
	height: auto;
}
