<pre>X45. Amazing Grace
-John Newton
{Key:D}
<b class="tabs chordD">  D                G         D
</b>Amazing grace how sweet the sound
<b class="tabs chordD">                         A7
</b>That saved a wretch like me
<b class="tabs chordD">  D        D7       G      D
</b>I once was lost but now am found
<b class="tabs chordD">              A7         D
</b>Was blind but now   I    see
<b class="tabs chordD">
</b><b class="tabs chordD">  D                        G        D
</b>
</pre>
