/**
 * @author Zach DeCook
 * @date June 8, 2018
 */
body{
color: white;
background-color: black;
}

.touch {
	font-size: 150px;
	height: 200px;
	line-height: 200px;
	text-align: center;
	box-sizing:border-box;
}
#toucharea {
	font-size: 0;
	border: 3px solid red;
	color:red;
}
#toucharea2 {
	font-size: 0;
	border: 3px solid green;
	color:green;
}

#touchprev{
	border: 3px solid cornflowerblue;
	width:33%;
	display: inline-block;
}
#touchrestart{
	border:3px solid  purple;
	width: 34%;
	display: inline-block;
}
#touchnext{
	border:3px solid  cyan;
	width: 33%;
	display: inline-block;
}

#touchplay{
	width: 50%;
	display: inline-block;
	border:3px solid  blue;
	line-height: 200px;
	position: relative;
}
#touchplaynext{
	width: 50%;
	display: inline-block;
	border:3px solid  deepskyblue;
}
#touchmute{
	border:3px solid  yellow;
}
.string1, .string2, .string3, .string4, .string5, .string6{
	touch-action: none;
	display: inline-block;
	width: 5%;
	margin: 0 5%;
	height: 200px;
	background-color: #fff4;
}
